In [1]:
from pathlib import Path

import numpy as np
import pandas as pd
import xgboost as xgb
import sklearn as skl
import _pickle as pickle

from mylib import class_distributions
from mylib import data_selection
from mylib import helper_funcs
from mylib.db import preprocessing
from mylib.db import constants
from mylib.db import big_query as bq

import dtreeviz
import logging
# to suppress messages when plotting trees
logging.getLogger('matplotlib.font_manager').setLevel(level=logging.CRITICAL)
import matplotlib.pyplot as plt

%load_ext autoreload
%autoreload 2

In [2]:
from_date = "2022-05-05"
to_date = "2023-06-10"
bq.nps_query_timeframe(from_date, to_date)

        client_id answer_value
0      2299753270            0
1      2397814757            0
2      1711030326            0
3      7899569306            0
4      2299381905            0
...           ...          ...
37971  8066164520           10
37972  4964688843           10
37973  6140979964           10
37974  1605807892           10
37975  0682336403           10

[37976 rows x 2 columns]

In [3]:
test = bq.join_car_nps(from_date, to_date)

In [9]:
test["client_id"]#["2299753270"]

0         6633762767
1         5234140387
2         7704488013
3         2047079333
4         7968003121
             ...
329869    5422204653
329870    1390337965
329871    0733237775
329872    4635352823
329873    3644378573
Name: client_id, Length: 329874, dtype: object